.nav {
    background-color: #333;
    overflow: hidden;
    text-align: center;
  }
  
  .nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .nav a:hover {
    animation:ease-in-out;
    background-color: #ddd;
    color: black;
  }
  
    .nav a.active {
    background-color: #04AA6D;
    color: white;
  }

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
body{
    text-align: center;
    margin: 50px 0px;
    padding: 0px;
    background-image: url(../images/bg.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1, form, p, caption, tr, td, label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}
caption, tr, td{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    background-color: aquamarine;
}
h1 span{
    background-color: aquamarine;
}
form span{
    background-color: aquamarine;
}
p span{
    background-color: aquamarine;
}
caption span{
    background-color: aquamarine;
}
tr span{
    background-color: aquamarine;
}
td span{
    background-color: aquamarine;
}
label span{
    background-color: aquamarine;
}